#root {
  padding: 20px;
  height: calc(100vh - 40px);
  background-color: #fcfcfc;
  background: radial-gradient(circle, transparent 20%, #fcfcfc 20%, #fcfcfc 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #fcfcfc 20%, #fcfcfc 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#252525 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #252525 1.4000000000000001px, #fcfcfc 1.4000000000000001px) -0.7000000000000001px 0;
  background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.upload-btn {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.logo-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #444;
  padding: 0 25px 0 10px;
}

.logo-bar h1 {
  color: #D7263D;
  margin: 10px 0;
}

.navbar a{
  text-decoration: none;
  color: inherit;
}
  
.logo {
  height: 50px;
}

.image-container {
  position: relative;
  display: flex;
  filter: contrast(1.5);
}
  
.uploaded-image {
  width: 100%;
  max-width: 400px;
  filter: grayscale(100%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
  opacity: 0.7;
}

.blurred-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(3px) grayscale(1);
  clip-path: polygon(0 0, 38% 0, 38% 24%, 34% 39%, 43% 62%, 61% 100%, 0% 100%);
}

.canvas {
  max-width: 100%;
  border: 1px solid #ccc;
  max-height: 70vh;
}

.download-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.download-btn:hover {
  background-color: #555;
}

/* Light Mode */

/* Dark Mode */
body.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark-mode #root {
  background-color: #252525;
  background: radial-gradient(circle, transparent 20%, #252525 20%, #252525 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #252525 20%, #252525 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#fcfcfc 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #fcfcfc 1.4000000000000001px, #252525 1.4000000000000001px) -0.7000000000000001px 0;
  background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}

/* Button Styling */
.toggle-btn {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.toggle-btn:hover {
  background-color: #666;
}

.upload-btn,
.download-btn{
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s;
}

.upload-btn:hover,
.download-btn:hover {
  background-color: #666;
}

@media (max-width: 600px) {
  .logo {
    height: 40px;
  }

  .navbar{
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .logo-bar h1 {
    font-size: 18px;
  }

  .upload-btn,
  .download-btn {
    font-size: 14px;
  }
}